$h-shadow: 5px;
$v-shadow: 5px;
$blur: 5px;

.banner {
  position: relative;
  font-family: "Comic Sans MS";
  color: purple;
  text-shadow: $h-shadow $v-shadow $blur gray;
  a {
    text-decoration: none;
    color: purple;
  }
  #m {
    font-size: larger;
    font-weight: bold;
    margin-left: 3%;
  }
  #y {
    font-size: 160%;
    font-weight: bold;
    position: relative;
    top: 10px;
  }
  #text {
    font-style: italic;
    font-weight: 600;
  }
  .bar {
    background-color: lightblue;
    padding: 4px;
    height: 30px;
    .on-off-button {
      float: right;
      margin: auto;
      margin-left: 4px;
      width: 12ch;
      height: 100%;
      background-color: white;
      border-radius: 0.9em;
      text-shadow: none;
      text-align: center;
      box-shadow: 1px 1px 1px 1px gray inset;
      font-size: 0.9em;
      font-family: "Arial";
      cursor: pointer;
      .switch {
        width: 80%;
        height: 100%;
        border-radius: inherit;
      }
      .on {
        float: left;
        background-color: deepskyblue;
        color: white;
      }
      .off{
        float: right;
        background-color: gainsboro;
        color: gray;
      }
    }
  }
}

@mixin switch-animation ( $side1, $side2, $bgcolor1, $bgcolor2, 
  $color1, $color2 ) {
  from {
    float: #{$side1};
    background-color: #{$bgcolor1};
    color: #{$color1};
  }
  to {
    float: #{$side2};
    background-color: #{$bgcolor2};
    color: #{$color2};
  }
}

@keyframes on-off-switch {
  @include switch-animation(left, right, deepskyblue, gainsboro, white, gray)
}
@keyframes off-on-switch {
  @include switch-animation(right, left, gainsboro, deepskyblue, gray, white)
}
.off-ani {
  animation: on-off-switch 1s;
}
.on-ani {
  animation: off-on-switch 1s;
}
