.add-word {
  cursor: pointer;
  color: blue;
  font-size: 1.3em;
  font-weight: bold;
  font-family: Arial;
}
.notice {
  font-size: 0.8em;
  color: red;
  width: 40vw;
}
#words-upload {
  text-align: center;
}
#oauth {
  float: right;
  display: none;
  margin-right: 4px;
  width: 7vw;
  text-align: center;
  background-color: lightblue;
  box-shadow: 1px 1px 3px 1px gray;
  img {
    margin-top: 2px;
  }
}
$nav_width: 12vw;
$nav_left: 0.5vw;
.navigation {
  float: left;
  width: $nav_width;
  margin-left: $nav_left;
  margin-top: 0.3vh;
  #word-box {
    a { text-decoration: none; }
    min-height: 25pc;
    #word-list {
      float: left;
      width: 11vw;
      .delsym {
        color: red;
        font-size: 0.9em;
      }
      li {
        list-style-type: none; 
      }
      .word {
        cursor: pointer;
      }
      .current {
        background-color: deepskyblue;
        color: white;
        font-weight: bold;
      }
    }
    $letter_nav_width: 10px;
    #letter-nav {
      float: right;
      width: $letter_nav_width;
      background-color: wheat;
      border-left-style: solid;
      border-right-style: solid;
      border-width: 1px;
      border-color: gray;
      text-align: center;
      li {
        list-style-type: none; 
        line-height: 2.8vh;
        min-height: 16px;
        height: 17px;
        max-height: 18px;
      }
      .letter {
        padding: 0;
        font-size: 11pt;
      }
    }
  }
}
.search {
  border: dotted;
  border-width: 1px;
  .wordinput {
    border: none;
    width: $nav_width;
    background: none;
  }
}
.word-pages {
  text-align: center;
  #word-count {
    font-size: 0.8em;
  }
}
#dcontainer {
  margin-left: $nav_width+$nav_left;
  margin-top: 3vh;
  text-align: center;
  .word {
    color: blue;
    font-weight: bold;
/*
@media screen and max-width:599px
    column-span: all;           // firefox bug 616436
    -moz-column-span: all;
*/
  }
  .twocol {
    columns: 2;
    -moz-columns: 2;              // firefox bug 698783
    -webkit-columns: 2;
    column-gap: 3px;
    -moz-column-gap: 3px;
    -webkit-column-gap: 3px;
  }
  #darea {
    .dblock {
      width: 38vw;
      margin-top: 0.25vw;
      display: inline-block;
      text-align: left;
      border: dotted;
      border-width: 1px;
      font-family: Cursive;
      .bt {
        padding:0;
      }
      .ipastr {
        font-family: Times;
        margin: 0;
      }
      .explanations {
        border-top: dotted;
        border-width: 1px;
        .explanation {
          .meaning {
            color: purple;
            display: block;
            margin-top: 5px;
          }
          .example {
            color: blue;
            margin-top: 0;
            margin-bottom: 0;
          }
          dd.sentence {
            margin-left: 0.5em;
          }
          .level, .region, .usage { 
            color: white;
            background-color: lightblue;
            font-family: Serif;
            font-size: 0.7em;
          }
          .opposite, .synonym, .gc {
            color: blue;
            background-color: lightblue;
            font-family: Serif;
            font-size: 0.7em;
          }
        }
      }
      .part_of_speech {
        font-style: italic;
      }
    }
  }
}
ul.ui-autocomplete {
  list-style: none;
  padding: 0px;
}
.ui-helper-hidden-accessible {
  display: none;
}
