.add-word {
  cursor: pointer;
  color: blue;
  font-size: 1.3em;
  font-weight: bold;
  font-family: Arial;
}
.opacity8 {
  opacity: 0.8;
}
#words-upload {
  text-align: center;
}
#oauth {
  float: right;
  display: none;
  margin-right: 4px;
  width: 7ch;
  text-align: center;
  background-color: lightblue;
  box-shadow: 1px 1px 3px 1px gray;
  img {
    margin-top: 2px;
  }
}
$nav_width: 20ch;
$nav_left: 1ch;
.navigation {
  #word-box {
    a { text-decoration: none; }
    min-height: 25pc;
    #word-list {
      .delsym {
        color: red;
        font-size: 0.9em;
      }
      li {
        list-style-type: none; 
      }
      .word {
        cursor: pointer;
      }
      .current {
        background-color: deepskyblue;
        color: white;
        font-weight: bold;
      }
    }
    $letter_nav_width: 12px;
    #letter-nav {
      width: $letter_nav_width;
      background-color: wheat;
      border-left-style: solid;
      border-right-style: solid;
      border-width: 1px;
      border-color: gray;
      text-align: center;
      li {
        list-style-type: none; 
        min-height: 16px;
        height: 17px;
        max-height: 20px;
      }
      .letter {
        padding: 0;
        font-size: 11pt;
      }
    }
  }
}
#word-count {
  font-size: 0.8em;
}
#dcontainer {
  margin-top: 3vh;
  text-align: center;
  .word {
    color: blue;
    font-weight: bold;
  }
  #darea {
    .dblock {
      display: inline-block;
      text-align: left;
      font-family: Cursive;
      .bt {
        padding:0;
      }
      .ipastr {
        font-family: Times;
        margin: 0;
      }
      .explanations {
        border-top: dotted;
        border-width: 1px;
        .explanation {
          .meaning {
            color: purple;
            display: block;
            margin-top: 5px;
          }
          .example {
            color: blue;
            margin-top: 0;
            margin-bottom: 0;
          }
          dd.sentence {
            margin-left: 0.5em;
          }
          .level, .region, .usage { 
            color: white;
            background-color: lightblue;
            font-family: Serif;
            font-size: 0.7em;
          }
          .opposite, .synonym, .gc {
            color: blue;
            background-color: lightblue;
            font-family: Serif;
            font-size: 0.7em;
          }
        }
      }
      .part_of_speech {
        font-style: italic;
      }
    }
  }
}
ul.ui-autocomplete {
  list-style: none;
  padding: 0px;
}
.ui-helper-hidden-accessible {
  display: none;
}
.custom-file-control::after {
  content: attr(data-content) !important;
}
