<div class="banner">
<%= link_to root_path do %>
  <h1><span id="m">M</span><span id="y">y</span>
  <span id="text"> Vocabulary</span></h1>
<% end %>
  <div class="bar purple-box">&nbsp;</div>
</div>
